:root {
  --dark03: rgba(112, 112, 112, 1);
}
body {
  font-family: "Poppins", sans-serif;
}
.hero h1 {
  font-family: "EB Garamond", serif;
  line-height: 85px;
  margin-bottom: 20px;
}
h1 {
  font-family: "EB Garamond", serif;
}
.hero {
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hero input::placeholder {
  color: #a0a0a0;
}
.hero input {
  height: 55px;
  width: 70%;
  padding: 10px;

  background-color: aliceblue;
  color: black;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-right: 20px;
  margin-top: 20px;
  padding-left: 30px;
}
.hero .text {
  max-width: 700px;
  margin: auto;
}
